

footer {
  background-color: #F4F4F4;
  color:#232323;
  padding-top:30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
}

.banner-text {
  color:white;
}
.features {
  padding-bottom: 50px;
}
.title {
  padding:30px 10px !Important;
}
.Banner {
  background-image: url(image/Celebrate\ -\ Canva\ Banner.png);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  
=======
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* AppNavBar */

.mainNav {
  background-color: #f4f4f4;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.navs {
  font-weight: bold !important;

}