
footer {
  background-color: #F4F4F4;
  color:#232323;
  padding-top:30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
}

.banner-text {
  color:white;
}
.features {
  padding-bottom: 50px;
}
.title {
  padding:30px 10px !Important;
}
.Banner {
  background-image: url(image/Celebrate\ -\ Canva\ Banner.png);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  
}